# Node
node_modules/

# Java / Spring Boot
backend/target/

# IntelliJ
.idea/

# Generated output
cli/generated-api-project/
cli/generated-ui-project/
cli/undefined/
backend-ts/temp-project/
backend-ts/qlitz-output/
backend-ts/*.zip

# Build output
dist/
build/
out/

# Environment
.env
.env.*
*.local

# OS junk
.DS_Store
Thumbs.db

backend-ts/*.zip
backend-ts/temp-project/
backend-ts/qlitz-output/
backend-ts/node_modules/

backend/src/main/resources/application.properties